{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Título</h1>    
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugiat tempora at officia corrupti, 
        sit veniam totam eum voluptates labore accusantium beatae nostrum minima, commodi amet nulla facilis est ad ipsam.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/image1.jpeg" class="img-thumbnail">
    </div>
</div>
{{> footer }}